@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar but keep scrolling */
.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge */
  }
  
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
  